In [107]:
import sqlite3

In [108]:
class Mysqlite(object):
    def __init__(self):
        db = "app.sqlite"
        self.conn = sqlite3.connect(db)

    def close(self):
        # self.conn.commit()
        self.conn.close()

In [109]:
if __name__ == "__main__":
    conn = Mysqlite().conn
    c = conn.cursor()
    sql = """create table if not exists user
    (id int primary key not null,
    name text not null,
    age int not null);
    """
    c.execute(sql)
    conn.commit()
    c.close()
    conn.close()

In [110]:
if __name__ == "__main__":
    conn = Mysqlite().conn
    c = conn.cursor()
    sql = "insert into user(id,name,age) values(3,'zhangsan',23)"
    try:
        c.execute(sql)
        conn.commit()
    except Exception as e:
        conn.rollback()
        print("it's fail")
    c.close()
    conn.close()

In [111]:
if __name__ == "__main__":
    conn = Mysqlite().conn
    c = conn.cursor()
    data = [(4, "zhaoyun", 11), (5, "lisi", 12), (6, "wangwu", 13)]
    try:
        c.executemany("insert into user (id,name,age) values(?,?,?)", data)
        conn.commit()
    except Exception as e:
        conn.rollback()
        print("it's fail")
        print(e)
    c.close()
    conn.close()

In [112]:
if __name__ == "__main__":
    conn = Mysqlite().conn
    c = conn.cursor()

    id = 3
    sql = "select * from user where id={}"
    c.execute(sql.format(id))
    result = c.fetchall()
    print(result)
    c.close()
    conn.close()

[(3, 'zhangsan', 23)]

In [113]:
if __name__ == "__main__":
    conn = Mysqlite().conn
    c = conn.cursor()
    sql = "select * from user"

    c.execute(sql)
    result = c.fetchall()
    print(result)
    c.close()
    conn.close()

[(3, 'zhangsan', 23), (4, 'zhaoyun', 11), (5, 'lisi', 12), (6, 'wangwu', 13)]

In [116]:
if __name__ == "__main__":

    conn = Mysqlite().conn
    sql = "update user set name='{}',age={} where id={}"
    sql = sql.format("tom", 28, 3)
    print(sql)
    c = conn.cursor()
    c.execute(sql)
    conn.commit()
    c.execute("select * from user")
    result = c.fetchall()
    print(result)
    c.close()
    conn.close()

update user set name='tom',age=28 where id=3
[(3, 'tom', 28), (4, 'zhaoyun', 11), (5, 'lisi', 12), (6, 'wangwu', 13)]

In [117]:
if __name__ == "__main__":
    conn = Mysqlite().conn
    c = conn.cursor()
    id = 3
    sql = "delete from user where id={}"
    sql = sql.format(id)
    c.execute(sql)
    conn.commit()

    c.execute("select * from user")
    result = c.fetchall()
    print(result)
    c.close()
    conn.close()

[(4, 'zhaoyun', 11), (5, 'lisi', 12), (6, 'wangwu', 13)]