In [16]:
import pandas as pd
from IPython.display import display

In [17]:
data={'name':['john','anna','peter','linda'],
     'location':['new york','paris','berlin','lindon'],
     'age':[24,13,53,33]}
df=pd.DataFrame(data)
display(df)

    name  location  age
0   john  new york   24
1   anna     paris   13
2  peter    berlin   53
3  linda    lindon   33

In [19]:
df[df.age<30]

   name  location  age
0  john  new york   24
1  anna     paris   13